.trip-comment-panel {
	padding: 20px 0 35px 72px;
	position: relative;
}

.header {
	border-bottom: 1px solid #eaeaea;
	height: 44px;
	line-height: 50px;
	position: relative;
}

.header .comment-count {
	color: #4abdcc;
	font-size: 28px;
	font-weight: bold;
	margin-right: 4px;
}

.content .comment-item {
	min-height: 50px;
	position: relative;
}

.content .comment-item .avatar {
	height: 28px;
	left: 0px;
	position: absolute;
	top: 12px;
	width: 28px;
}

.content .comment-item .comment {
	color: #5c5c5c;
	font-size: 12px;
	line-height: 20px;
	margin-left: 36px;
	overflow-x: hidden;
	padding-top: 14px;
	_padding-left: 36px;
}

.content .comment-item .meta {
	padding-top: 8px;
	color: #999999;
	font-size: 12px;
	margin-left: 36px;
	_padding-left: 36px;
}

.content .comment-item .sep {
	height: 8px;
	margin: 0 10px;
	border-bottom: 1px solid #eaeaea;
}

.paginator {
	height: 16px;
	margin-top: 18px;
	margin-bottom: 20px;
	text-align: right;
}

.paginator .item {
	color: #4abdcc;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	margin: 0 5px;
	text-align: center;
	width: 18px;
}

.paginator .current-page {
	background: #4abdcc;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #ffffff;
}